.container {
    width: 100%;
}
.row {
    width: 100%;
}
.row::after {
    clear: both;
    content: '' ;
    display: table;
}
.col {
    float: left;
    min-height: 10px;
}
.col-xs-1 {
    width: calc(100%/12);
}
.col-xs-2 {
    width: calc(200%/12);
}
.col-xs-3 {
    width: calc(300%/12);
}
.col-xs-4 {
    width: calc(400%/12);
}
.col-xs-5 {
    width: calc(500%/12);
}
.col-xs-6 {
    width: calc(600%/12);
}
.col-xs-7 {
    width: calc(700%/12);
}
.col-xs-8 {
    width: calc(800%/12);
}
.col-xs-9 {
    width: calc(900%/12);
}
.col-xs-10 {
    width: calc(1000%/12);
}
.col-xs-11 {
    width: calc(1100%/12);
}
.col-xs-12 {
    width: calc(1200%/12);
}
@media screen and (min-width:700px) {
    a {
        visibility: visible;
    }
    #burgerMenu {
        visibility: hidden;
    }
    .col-sm-1 {
        width: calc(100%/12);
    }
    .col-sm-2 {
        width: calc(200%/12);
    }
    .col-sm-3 {
        width: calc(300%/12);
    }
    .col-sm-4 {
        width: calc(400%/12);
    }
    .col-sm-5 {
        width: calc(500%/12);
    }
    .col-sm-6 {
        width: calc(600%/12);
    }
    .col-sm-7 {
        width: calc(700%/12);
    }
    .col-sm-8 {
        width: calc(800%/12);
    }
    .col-sm-9 {
        width: calc(900%/12);
    }
    .col-sm-10 {
        width: calc(1000%/12);
    }
    .col-sm-11 {
        width: calc(1100%/12);
    }
    .col-sm-12 {
        width: calc(1200%/12);
    }
}
@media screen and (min-width: 900px) {
    .suppress900 {
        display: none;
    }
    /* classe spéciale pour faire disparaitre les div de saut de ligne avec des résolutions superieures à 900px */

    .col-md-1 {
        width: calc(100%/12);
    }
    .col-md-2 {
        width: calc(200%/12);
    }
    .col-md-3 {
        width: calc(300%/12);
    }
    .col-md-4 {
        width: calc(400%/12);
    }
    .col-md-5 {
        width: calc(500%/12);
    }
    .col-md-6 {
        width: calc(600%/12);
    }
    .col-md-7 {
        width: calc(700%/12);
    }
    .col-md-8 {
        width: calc(800%/12);
    }
    .col-md-9 {
        width: calc(900%/12);
    }
    .col-md-10 {
        width: calc(1000%/12);
    }
    .col-md-11 {
        width: calc(1100%/12);
    }
    .col-md-12 {
        width: calc(1200%/12);
    }
}
@media screen and (min-width: 1200px) {

    .suppress1200 {
        display: none;
    }
    /* classe spéciale pour faire disparaitre les div de saut de ligne avec des résolutions superieures à 900px */

    .col-lg-0 {
        width: calc(100%/24)
    }
    /* rajout d'une demi colonne pour pouvoir s'en servir de marge gauche et droite au dessus de 1200px */
    .col-lg-1 {
        width: calc(100%/12);
    }
    .col-lg-2 {
        width: calc(200%/12);
    }
    .col-lg-3 {
        width: calc(300%/12);
    }
    .col-lg-4 {
        width: calc(400%/12);
    }
    .col-lg-5 {
        width: calc(500%/12);
    }
    .col-lg-6 {
        width: calc(600%/12);
    }
    .col-lg-7 {
        width: calc(700%/12);
    }
    .col-lg-8 {
        width: calc(800%/12);
    }
    .col-lg-9 {
        width: calc(900%/12);
    }
    .col-lg-10 {
        width: calc(1000%/12);
    }
    .col-lg-11 {
        width: calc(1100%/12);
    }
    .col-lg-12 {
        width: calc(1200%/12);
    }
}