@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
/* Oui j'ai mis un text-align à la place d'utiliser les colonnes parce que le déclagae au fur et a mesure des modifs de résolution fait vraiment moche, même en ajoutant encore plus de break-points */
a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
a:hover {
    background-color: lightgrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
a {
    visibility:hidden;
}
h2 {
    font-size: 1.2em;
}
article :nth-child(2) {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}
article img {
    padding: 5px;
}
footer {
    text-align: center;
}
