@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/gradientBleuCiel.jpg);
    font-family: 'Roboto';
    width: 95vw;
    height: 95vh;
    margin : 10px auto;
}

section:first-of-type {
    display: flex;
    margin: 2vh auto;
}

#gauche {
    width: 50%;
    display: flex;
}
#droite {
    width: 50%;
    display: flex;
}
ul {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.ligne {
    display: flex;
    border-top: 1px solid lightgrey;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.ligne:last-of-type {
    border-bottom: 1px solid lightgray;
}
.ligne >* {
    width: 25%;
}
.jour {
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}
#gauche span:last-of-type,
#droite li span,
.temperature span,
.pollen {
    font-weight: lighter;
    color: lightslategray;
}

#semaine img {
    padding: 10px;
}

@media screen and (min-width: 640px) {
    body {
        font-size: 120%;
    }
    header {
        height: 20%;
    }
    section:first-of-type{
        height: 20%;
    }
    #semaine {
        height : 100%;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-image: url(../img/gradientBleuCiel.jpg);
    }
    .temperature {
        display: flex;
        justify-content: center;
    }
    #semaine {
        display: flex;
        flex-direction: row;
    }
    .ligne {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
    }
    .ligne:last-of-type {
        border-bottom: none;
    }
    .jour {
        text-align: center;
    }
    .ligne >* {
        width: 100%;
    }
    #semaine {
        margin-top: 5%;
    }
}